<%- include('partials/header') -%>
<section class="container flex-1 p-4 mx-auto text-gray-800">
	<section>
		<h2 class="text-xl">Current Missing/Kidnapped People</h2>
		<small class="text-gray-600"
			><i class="fas fa-info-circle"></i> Click on an image to see more
			information</small
		>
	</section>
	<div class="my-4">
		<ul class="grid grid-cols-2 gap-4 sm:grid-cols-3">
			<% persons.forEach(person => { %>
			<li class="overflow-hidden bg-white rounded shadow">
				<a href="<%= `/persons/${person._id}` %>">
					<div class="bg-gray-100">
						<img
							src="<%= person.picture %>"
							class="object-cover w-full h-40 sm:h-52"
							alt="<%= `${person.name}` %>"
							loading="lazy"
						/>
					</div>
				</a>
				<div class="p-3">
					<p>
						<a href="<%= `/persons/${person._id}` %>"
							><%= `${person.name}` %></a
						>
					</p>
				</div>
			</li>
			<% }) %>
		</ul>
	</div>
</section>
<%- include('partials/footer') -%>
