<%- include('partials/header') -%>
<div class='container'>
  <% if(user && user.id == person.user.id) { %>
	<a class="update" href="<%= `/persons/updatePerson/${person.id}` %>">Update</a>
	<button class='del update' data-id="<%= person.id %>">Delete</button>
  <% } %>
  <div class="mainsectiontop">
        <article class="leftsection">
            <section id="submission">
                <p class="name"><span>Name: </span><%= person.name %></p>
                <p class="submittedby"><span>Submitted By: </span><%= person.user.name %></p>
                <p class="datesubmitted"><span>Date Submitted: </span><%= new Intl.DateTimeFormat('en', {dateStyle: 'full', timeStyle: 'short'}).format(person.createdAt) %></p>
                <p class="status"><span>Status: </span><%= person.status %></p>
            <section class="bigimage">                       <img src="<%= person.picture %>" alt="<%= person.name %>">
            </section>
            </section>
        </article>
        <article class="rightsection">
            <h2><span>Last Seen:</span></h2>
            <div id='mymap' class="lastSeenMap" style="height: 430px;"></div>
            <section class="mapimage"></section>
            <section>
                <span class="Date">Last seen date: <%= person.lastSeenDate && new Intl.DateTimeFormat('en', {dateStyle: 'full'}).format(person.lastSeenDate) %> </span>
                <span class="Location">Location:</span>
            </section>
        </article>
  </div>
  <section class="mainsectionbottom">
       <h2><span>Information</span></h2>
       <section class="infoWrapper">
            <section>
                <p class="DOB"><span>Date Of Birth: </span><%= person.dateOfBirth && new Intl.DateTimeFormat('en', {dateStyle: 'long'}).format(person.dateOfBirth)  %></p>
                <p class="hair"><span>Hair Color: </span><%= person.hairColor %></p>
                <p class="height"><span>Height: </span><%= person.height %></p>
                <p class="race"><span>Race: </span><%= person.race %> </p>
            </section>
            <section>
                <p class="birthplace"><span>Birth Place: </span><%= person.placeOfBirth %></p>
                <p class="eyes"><span>Eye Color: </span><%= person.eyeColor %> </p>
                <p class="weight"><span>Weight: </span><%= person.weight %> </p>
                <p class="sex"><span>Sex: </span><%= person.sex %> </p>
            </section>
            </section>
        </section>
        <section class="description">
            <h2><span>Description</span></h2>
            <p class=""><%= person.description %></p>
        </section>
        <h4>Submit a Tip:</h4>
        <p>If you have any information concerning this person, please contact <a href="mailto:infotip@searching4u.com">infotip@searching4u.com</a></p>
  </section>
</div>
<!-- Load leaflet.js -->
<script src="/js/leaflet.js"></script>
<script>
  /* Define a marker using person lon and lat */
  var marker = new L.Marker([<%= person.lat %>, <%= person.lon %>]).addTo(map);
  marker.bindPopup("Last seen location of <%= person.name %>").openPopup();
  map.setView(marker.getLatLng(), 12);
</script>
<%- include('partials/footer') -%>
