<%- include('partials/header') -%>
<div class="containersection">
<div class="userinfosection">
<p>UserName: <%= `${user.name}`%></p>
<p>Email: <%= `${user.email}`%></p>
</div>
<h2>File a missing persons report</h2>
<div class="userinfocontainer">
<output class="notification" aria-live="polite"></output>

<form id="add-person-form" action="/persons/createPerson" method="POST" enctype="multipart/form-data">
  <label>Name: <input type='text' placeholder='Enter a name' name='name'></label><br>
  <label>Description: <textarea placeholder='Description' name='description'></textarea></label><br>
  <label>Status: <select name="status">
  	<option value="missing">Missing</option>
  	<option value="found">Found</option>
  	<option value="deceased">Deceased</option>
  	<option value="kidnapped">Kidnapped</option>
	</select></label><br>
  <label>Hair color: <input type='text' placeholder='Hair Color' name='hairColor'></label><br>
  <label>Last seen: <input type='date' name='lastSeenDate'></label><br>
  <label>Sex: <select name="sex">
  	<option value="male">Male</option>
  	<option value="female">Female</option>
	</select></label><br>
  <label>Height: <input type='text' placeholder='Height' name='height'></label><br>
  <label>Date of birth: <input type='date' name='dateOfBirth'></label><br>
  <label>Eye color: <input type='text' placeholder='Eye color' name='eyeColor'></label><br>
  <label>Place of birth: <input type='text' placeholder='Place of birth' name='placeOfBirth'></label><br>
  <label>Weight: <input type='text' placeholder='Weight' name='weight'></label><br>
	<label>Race: <input type='text' placeholder='Race' name='race'></label><br>
  <label>Image: <input type="file" name="file"></label><br>
  <input required type='hidden' name='lat' id='lat'>
  <input required type='hidden' name='lon' id='lon'>



</form>
</div>
</div>
<p>Click on the map to select the last known location</p>
<div id='mymap' style="height: 200px;"></div>
<button type="submit" form="add-person-form">Submit</button>

<h2>Your Submissions</h2>
	<%_ if(!persons || persons.length === 0) { _%>
		<p>You have not submitted any persons</p>
	<% } else { %>
		<ul>
			<% persons.forEach(person => { %>
				<li data-id='<%= `${person._id}` %>'>
          <a href="<%= `/persons/${person._id}` %>"><img src="<%= person.picture %>" alt="<%= `${person.name}` %>" loading="lazy"><%= person.name %></a>
          <button class='del' data-id="<%= person.id %>">Delete</button>
          <a href="<%= `/persons/updatePerson/${person._id}` %>">Update</a>
        </li>
			<% }) %>
		</ul>
	<%_ } _%>

<script src="../js/leaflet.js"></script>
<script src="/js/profilemap.js"></script>
<script src="/js/profile.js" defer></script>
<%- include('partials/footer') -%>