<%- include('partials/header') -%>
<section class="container">
  <section class="updateContainer">
  <p><span>UserName: </span><%= `${user.name}`%></p>
  <p><span>Email: </span><%= `${user.email}`%></p>
  <h2>Update Missing Persons Report</h2>
  <form class="submissionform" action="/persons/createPerson" method="POST" enctype="multipart/form-data" class="update-form">
    <div class="form">
      <label><span>Name: </span><input type='text' placeholder='Enter a name' name='name' value="<%= person.name %>"></label><br>
      <label><span>Status: </span><select name="status" value="<%= person.status %>">
        <option value="missing">Missing</option>
        <option value="found">Found</option>
        <option value="deceased">Deceased</option>
        <option value="kidnapped">Kidnapped</option>
      </select></label>
      <label><span>Hair color: </span><input type='text' placeholder='Hair Color' name='hairColor' value="<%= person.hairColor %>"></label><br>
      <label><span>Last seen: </span><input type='date' name='lastSeenDate' value="<%= person.lastSeenDate && person.lastSeenDate.toISOString().slice(0, 10) %>"></label><br>
      <label><span>Sex: </span><select name="sex" value="<%= person.sex %>">
        <option value="male">Male</option>
        <option value="female">Female</option>
        </select></label>
      <label><span>Height: </span><input type='text' placeholder='Height' name='height' value="<%= person.height %>"></label><br>
      </div>
      <div class="form">
      <label><span>Date of birth: </span><input type='date' name='dateOfBirth' value="<%= person.dateOfBirth && person.dateOfBirth.toISOString().slice(0, 10) %>"></label><br>
      <label><span>Eye color: </span><input type='text' placeholder='Eye color' name='eyeColor' value="<%= person.eyeColor %>"></label><br>
      <label><span>Place of birth: </span><input type='text' placeholder='Place of birth' name='placeOfBirth' value="<%= person.placeOfBirth %>"></label><br>
      <label><span>Weight: </span><input type='text' placeholder='Weight' name='weight' value="<%= person.weight %>"></label><br>
      <label><span>Race: </span><input type='text' placeholder='Race' name='race' value="<%= person.race %>"></label><br>
      <label><span>Image: </span><input type="file" name="file"></label>
    </div>
    <input type='hidden' name='lat' id='lat' value="<%= person.lat %>">
    <input type='hidden' name='lon' id='lon' value="<%= person.lon %>">
    <input type='hidden' name='id' id='id' value="<%= person.id %>">
    <div class="upCan">
    <button class="update" type="button">Update</button>
  </div>
  </form>
  <div id='mymap' class="mymap" style="height: 430px;"></div>
  <div class="description">
    <h2><span>Description:</span></h2><textarea placeholder='Description' name='description'></textarea>
  </div>
  </section>
</section>
<script src="/js/leaflet.js"></script>
<script>
    var marker;
    // Add a marker when the user clicks the map
  function onMapClick(e) {
    if (marker) {
      map.removeLayer(marker);
    }
    marker = new L.marker(e.latlng, {draggable:'true'}).addTo(map);
    var position = marker.getLatLng();
    const UserLocation = {lat: position.lat, lng: position.lng};
    marker.on('dragend', function(event){
      var marker = event.target;
      var position = marker.getLatLng();
      marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
      map.panTo(new L.LatLng(position.lat, position.lng))
    });
    map.addLayer(marker);
    console.log(e.latlng.lat);
    document.getElementById('lat').value = e.latlng.lat;
    document.getElementById('lon').value = e.latlng.lng;
  };
  map.on('click', onMapClick);
</script>
<script>
  /* Define a marker using person lon and lat */
  var marker = new L.Marker([<%= person.lat %>, <%= person.lon %>]).addTo(map);
  marker.bindPopup("Last seen location of <%= person.name %>").openPopup();
  map.setView(marker.getLatLng(), 12);
</script>
<script>
  function createValidTimeFormat(timestring) {
	  return timestring.substring(0, 10)
  }
</script>
<%- include('partials/footer') -%>
